<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xg.mapper.OrderMapper">
    <!--分页用户订单-->
    <select id="searchOrderList" parameterType="page" resultType="order">
        select * from orderinfo limit #{startRow},#{pageSize}
    </select>

    <select id="searchOrderTotalCount" parameterType="page" resultType="java.lang.Integer">
        select count(id) from orderinfo
        <where>
            <if test="queryCondition!=null">
                and username like CONCAT('%',#{queryCondition},'%')
            </if>
        </where>
    </select>

    <select id="getOrderBycondtion" parameterType="page" resultType="order">
        select * from orderinfo
        <where>
            <if test="queryCondition!=null">
                username like  CONCAT('%',#{queryCondition},'%')
            </if>
        </where>
    </select>

    <delete id="deleteOrder" parameterType="java.lang.Integer">
        delete from userinfo
        where
        id=#{id}
    </delete>
</mapper>