<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xg.mapper.UserMapper">
    <resultMap id="userMap" type="user">
        <id property="id" column="id"></id>
        <result property="username" column="userAccount"></result>
        <result property="password" column="userPassword"></result>
        <result property="userNum" column="userNum"></result>
        <result property="userType" column="userType"></result>
        <result property="userIDcard" column="userIDcard"></result>
        <result property="userBirth" column="userBirth"></result>
        <result property="userTrueName" column="userTrueName"></result>
        <result property="userRegDate" column="userRegDate"></result>
        <result property="userPoints" column="userPoints"></result>
        <result property="userBanlace" column="userBanlace"></result>
        <result property="userEamil" column="userEamil"></result>
        <result property="userAddressID" column="userAddressID"></result>
        <result property="userMoney" column="userMoney"></result>
        <result property="userPhone" column="userPhone"></result>
        <result property="salt" column="salt"></result>
    </resultMap>
    <insert id="userReg" parameterType="user">
      insert into userInfo(userNum,userAccount,userPassword,userIDcard,userBirth,
      userTrueName,userRegDate,userEamil,userPhone,salt) values(#{userNum},#{userAccount},#{userPassword},
      #{userIDcard},#{userBirth},#{userTrueName},#{userRegDate},#{userEamil},#{userPhone},#{salt})
    </insert>

    <!--用户登录-->
    <select id="selectUserByUsercode" parameterType="string" resultMap="userMap">
        select * from userInfo where userAccount=#{usercode}
    </select>
</mapper>